# Ignorar binários de compilação
.pio
.pioenvs
.piolibdeps
*.elf
*.bin
*.hex
*.map

# Ignorar arquivos do sistema e IDE
.DS_Store
.vscode
.idea
*.sublime-workspace

# Ignorar arquivos de captura e dados sensíveis
*.pcap
*.hccapx
/arquivos_cartao_sd/wifi_config.txt
/arquivos_cartao_sd/credenciais_capturadas.txt
/arquivos_cartao_sd/macs_detectados.txt
/arquivos_cartao_sd/capturas/*
/arquivos_cartao_sd/fila_envio/*

# Ignorar anexos temporários
/tmp
analysis.txt
wiki_dump.html
