# Configuração Crítica para Hardware
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=4096

# Watchdog - Permitir tarefas longas (Marauder/AI)
CONFIG_ESP_TASK_WDT_TIMEOUT_S=30

# Otimização de Energia
CONFIG_PM_ENABLE=y
CONFIG_PM_DFS_INIT_AUTO=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y

# Bluetooth (Desativado conforme pedido)
CONFIG_BT_ENABLED=n

# Pthreads
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=4096
